<div class="container mt-5">
  <div class="card">
    <div class="header">
      <h2>Store</h2>
    </div>
    <div class="card-body">

    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id_game</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Publisher Name</th>
        <th>Website</th>
        <th>Platform Name</th>
        <th>Manufacturer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of storeViews">
        <td>{{s.id_game}}</td>
        <td>{{s.title}}</td>
        <td>{{s.genre}}</td>
        <td>{{s.publisher_name}}</td>
        <td>{{s.website}}</td>
        <td>{{s.platform_name}}</td>
        <td>{{s.manufacturer}}</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>

