.card-scroll-container{
  margin-bottom: 100px;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card-scroll-container::-webkit-scrollbar {
  display: none;
}
.card{
    background-color: #5b5454;
    border-radius:10px;
    color:#fff;
    display: inline-block;
    width: 300px; /* set the width of each card */
    margin-right: 10px; /* add some margin between cards */
}
.card-group {

    width: 1861px; /* set the width to be larger than the container */
    display: flex; /* use flexbox to align cards horizontally */
}
.card-genre, .card-title, .card-publisher_name, .card-website, .card-platform_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
