<button class="btn btn-success" routerLink="/order-form">Add Order</button>
<div class="container mt-5">
  <div class="card">
    <div class="header">
  <h2>My Orders</h2>
    </div>
    <div class="card-body">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Developer</th>
            <th>Stock</th>
            <th>Release Date</th>
            <th>Discount Percentage</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of userLibraryViews">
        <td>{{s.title}}</td>
        <td>{{s.genre}}</td>
        <td>{{s.price}}</td>
        <td>{{s.developer}}</td>
        <td>{{s.stock}}</td>
        <td>{{s.releaseDate}}</td>
        <td>{{s.discountPercentage}}</td>
        <td>{{s.startDate}}</td>
        <td>{{s.endDate}}</td>
        <td>{{s.amount}}</td>
        <td>{{s.paymentMethod}}</td>
        <td>{{s.date}}</td>
    </tr>
    </tbody>
</table>
    </div>
</div>
</div>
